input {
  margin: 5px;
  width: 200px;
  height: 18px;
  text-transform: capitalize;
}

label {
  display: inline-block;
  width: 100px;
  text-transform: capitalize;
}

button {
  margin-top: 20px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
